*{
    margin: 0;
    padding: 0;
    list-style: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
  background-color: #2b2b2b;
}

.header{
  width: 100%;
  height: 150px;
  display: block;
  background-color: #101010;
}

.inner_header {
  width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo_container {
  height: 100%;
  display: table;
  float: left;
}

.logo_container h1 {
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 32px;
  font-weight: 800;
}

.logo_container h1 span{
  font-weight: 700;
  color:rgb(199, 199, 199);
}

.navigation{
    float: right;
    height: 100%;
}

.navigation a{
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
  
}



.navigation a:last-child{
  padding-right: 0;
}

.navigation a li{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color:white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




.outer_kropp{
  background-color: rgb(46, 39, 39);
  opacity: 70%;
  width: 50%;
  display: block;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 0.2rem;
  margin-bottom: 8rem;
}

.kropp {
  width: 98%;
  background-color: rgba(0, 0, 0, 0.987);
  display: block;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 15rem;
}

.inner_kropp {
  padding-top: 50px;
  width: 90%;
  background-color: rgb(0, 0, 0);
  display: block;
  height: 100%;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
}

.inner_kropp2 {
  margin-left: 130px; margin-right: 130px; background-color: white; color: black; padding-left: 20px; padding-right: 20px; padding-bottom: 30px; padding-top: 2rem; margin-top: 3rem; border-radius: 8px;
}

footer{
  position: absolute;
  background: #111;
  height: auto;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}
.socials a:hover i{
  color: red;
}
.footer-bottom {
  background: #000;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}



@media (max-width: 1050px) {
  .inner_header  {width: 800px;
  }
}


@media (max-width: 910px) {
  .inner_kropp2   {margin-right: 20px;
                  margin-left: 20px;
                  padding-right: 10px;
                  padding-left: 10px;
  }
}

@media (max-width: 850px) {
  .inner_header  {width: 600px;
  }
}

@media (max-width: 800px) {
  .kropp {
    width: 95%;
  }
  .outer_kropp {
    width: 95%;
  }
}

@media (max-width: 650px) {
  .inner_header  {width: 500px;
  }
}
